body {
    background: FireBrick;
}

span.current-page {
    border-style: solid;
    color: orange;
    font-size: 20px;
    padding: 5px;
    background-color: navy;
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
}

a.nav-link {
    border-style: solid;
    color: black;
    font-size: 20px;
    padding: 5px;
}

img {
    padding: 30px;
}
h2 {
    font-weight: bold;
    text-align: center;
    font-size: 37px;
    color: black;
}

p {
    color: black;
    font-size: 20px;
    text-align: center;
}

span.right-para {
    color: black;
    font-size: 20px;
    text-align: right;
    padding: 100px;  
}

span.left-para {
    color: black;
    font-size: 20px;
    text-align: left;  
    padding: 50px;
}

span.tip {
    color: black;
    font-size: 20px;
    text-align: center;  
    padding: 50px;
}